@use "sass:map";
@use "sass:meta";

// ▪︎ color
$black: #121212;
$purple: #571751; 
$teal: #00A2A6; 
$pink: #C94768; 
$green: #BFDA71;
$white: #FFFFFF;

// test colors
//Purple
$purple-1: #4E2E7F; // — deep indigo purple
$purple-2: #5A1F74; // — rich eggplant
$purple-3: #45246A; // — muted violet

//Pink
$pink-1: #9C1A52; // — dark raspberry
$pink-2: #8B0043; // — deep magenta
$pink-3: #7A0F39; // — wine pink

//Green
$green-1: #1F4F2E; // — deep forest green
$green-2: #084A2C; // — emerald-forest
$green-3: #1C3E2C; // — dark muted pine

//Blue
$blue-1: #0D3A6A; // — deep sapphire
$blue-2: #123A7A; // — navy-leaning blue
$blue-3: #1C3363; // — muted midnight blue

// ▪︎ typography
$font-regular: 'cabinregular';
$font-bold: 'cabinsemibold';
$font-awesome: 'FontAwesome';

// Weights
$weight-regular: 400;
$weight-medium: 500;
$semi-bold: 600;
$weight-bold: 700;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'b-1080': (max-width: 1080px),
  'row': (max-width: 1020px),
  'b-900': (max-width: 900px),
  'b-890': (max-width: 890px),
  'b-860': (max-width: 860px),
  'b-820': (max-width: 820px),
  'b-800': (max-width: 800px),
  'b-768': (max-width: 768px),
  'b-765': (max-width: 765px),
  'b-750': (max-width: 750px),
  'b-700': (max-width: 700px),
  'b-680': (max-width: 680px),
  'b-670': (max-width: 670px),
  'b-665': (max-width: 665px),
  'b-640': (max-width: 640px),
  'b-620': (max-width: 620px),
  'b-610': (max-width: 610px),
  'b-605': (max-width: 605px),
  'b-600': (max-width: 600px),
  'b-590': (max-width: 590px),
  'b-570': (max-width: 570px),
  'b-560': (max-width: 560px),
  'b-525': (max-width: 525px),
  'b-510': (max-width: 510px),
  'b-500': (max-width: 500px),
  'b-495': (max-width: 495px),
  'b-490': (max-width: 490px),
  'b-480': (max-width: 480px),
  'b-465': (max-width: 465px),
  'b-450': (max-width: 450px),
  'b-445': (max-width: 445px),
  'b-435': (max-width: 435px),
  'b-420': (max-width: 420px),
  'b-410': (max-width: 410px),
  'b-405': (max-width: 405px),
  'b-400': (max-width: 400px),
  'b-395': (max-width: 395px),
  'b-385': (max-width: 385px),
  'b-375': (max-width: 375px),
  'b-370': (max-width: 370px),
  'b-360': (max-width: 360px),
  'b-330': (max-width: 330px),
  'b-325': (max-width: 325px),
  'b-320': (max-width: 320px),
  'b-305': (max-width: 305px),
);

// Mixin for media queries
@mixin respond-to($name) {
  // If the key exists in the map
  @if map.has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{meta.inspect(map.get($breakpoints, $name))} {
      @content;
    }
  }
}
