@use "../utils/variables" as *;

.row {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1020px;
  padding-right: 10px; //0.5rem;
  padding-left: 10px; //0.5rem;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

/*
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
*/

// basic styles for links
a {
  text-decoration: none;
  cursor: pointer;
  &:active {
    border: 2px solid $pink;
  }
  &:hover {
    //color: $blue;
  }
}

b, strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

// ::::::::::::::::::::::::::::::::::::::::
// global styles
// ::::::::::::::::::::::::::::::::::::::::
* { }

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $purple;
  background-color: $green;
  background-image: url("../images/FlannelBackground.jpg");
  background-repeat: repeat;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  background-color: #BFDA71;

  img {
    max-width: 100%;
  }
}

@media all and (max-width: 959px) {
  .content .x700{display:block;}
  .content .x490{display:none;}
  .content .x290{display:none;}
}

@media all and (max-width: 720px) {
  .content .x700{display:none;}
  .content .x490{display:block;}
  .content .x290{display:none;}
}

@media all and (max-width: 479px) {
  .content .x700{display:none;}
  .content .x490{display:none;}
  .content .x290{display:block;}
}

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.row {
  width: 100%;
  max-width: 1080px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

// column setup
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

// grouping
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_1_of_1 { width: 100%; }

// grid of two
.span_2_of_2 { width: 100%; }
.span_1_of_2 { width: 49.2%; }

// grid of three
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }
.m_span_1_of_3 { width: 32.26%; }

// grid of four
.span_4_of_4 { width: 100%; }
.span_3_of_4 { width: 74.6%; }
.span_2_of_4 { width: 49.2%; }
.span_1_of_4 { width: 23.8%; }

// grid of five
.span_5_of_5 { width: 100%; }
.span_4_of_5 { width: 79.68%; }
.span_3_of_5 { width: 59.36%; }
.span_2_of_5 { width: 39.04%; }
.span_1_of_5 { width: 18.72%; }

// grid of six
.span_6_of_6 { width: 100%; }
.span_5_of_6 { width: 83.06%; }
.span_4_of_6 { width: 66.13%; }
.span_3_of_6 { width: 49.2%; }
.span_2_of_6 { width: 32.26%; }
.span_1_of_6 { width: 15.33%; }

// go full width @ less than 480px
@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}
@media only screen and (max-width: 480px) {
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6, .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5, .span_1_of_4, .span_3_of_4, .span_2_of_3, .span_1_of_3, .span_2_of_2, .span_1_of_2 { width: 100%; }
}


// ::::::::::::::::::::::::::::::::::::::::
// show/hide on mobile devices
// ::::::::::::::::::::::::::::::::::::::::
.display-on-mobile {
  display: none;

  @include respond-to(b-765) {
    display: block !important;
  }
  @include respond-to(b-320) {
    display: block !important;
  }
  @include respond-to(b-320) {
    display: block !important;
  }
}

.hide-on-mobile {
  display: block;

  @include respond-to(b-765) {
    display: none !important;
  }
  @include respond-to(b-320) {
    display: none !important;
  }
  @include respond-to(b-320) {
    display: none !important;
  }
}


// ::::::::::::::::::::::::::::::::::::::::
// general page styles
// ::::::::::::::::::::::::::::::::::::::::
.page-header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;

  h1 {
    margin: 60px 0 5px;
    color: #C94768;
    text-transform: uppercase;
    font-family: $font-bold;
    font-size: 3rem;
    line-height: 1;
  }

  p {
    max-width: 700px;
    margin: 0 0 20px;
    color: $purple;
    font-family: $font-regular;
  }

  a {
    color: $teal;
    
    &:hover {
      color: $pink;
    }
  }
} // .page-header

.page-content {
  display: block;
  width: 100%;
  float: left;
  background-color: $green;
}

.page-footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;

  h1 {
    margin: 20px 0 5px;
    color: white;
    font-family: $font-bold;
    font-size: 3rem;
    line-height: 1;
  }

  p {
    margin-bottom: 64px;
    color: $purple;
    font-family: $font-regular;
  }

  a {
    color: $teal;
    &:hover {
      color: $pink;
    }
  }
} // .page-header

body { font-family: $font-regular; font-size: 1em; line-height: 1.5em; }

h1 {
  margin: 40px 0 5px;
  color: #C94768;
  text-transform: uppercase;
  font-family: $font-bold;
  font-size: 3rem;
  line-height: 1;
}

h2 {
  color: $purple;
  font-family: $font-bold;
  font-size: 1.5rem;
}

h3 {
  color: $purple;
  font-size: 1.4em;
}

h4 { 
  padding: 0px;
  color: $pink;
  font-family: $font-regular;
  font-size: 1em;
}

h5 { 
  color: $teal;
  font-family: $font-regular;
  font-size: 1em;
}

p {
  width: 100%;
  margin-bottom: 20px;
  color: $purple;
  font-family: $font-regular;
  font-size: 1rem;
  line-height: 1.5rem;
}

a { font-family: $font-regular; color: $teal; text-decoration: none; cursor: pointer;  }

a:visited { font-family: $font-regular; color: $teal; text-decoration: none; cursor: pointer; }

a:hover, a:focus, a:active { color: $purple; text-decoration: none; cursor: pointer; }

#CopyrightText { padding: 0px; text-align:center; font-family: $font-regular; color: $purple; }

#main {
  margin: 30px 0;
  position: relative;
}

.full {
  float: left;
  margin: 2%;
  width: 96%;
  text-align: center;

  p {
    width: 100%;
    margin-bottom: 20px;
    color: $purple;
    font-family: $font-regular;
    font-size: 1rem;
    line-height: 1.125rem;
  }

  img{
    width: 100%;
  }

} //.full

#half {
  float: left;
  margin: 2%;
  width: 46%;
  min-width: 46%;

  img {
    width: 100%;
  }
} // #half

.gallery {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;

  img{
    width: 100%;
  }
} // .gallery

.epilogue {
  padding: 5% 0;
  font-size: 1em;
  color: $purple;
}

