@use "../utils/variables" as *;

.desktop-footer {
  display: block;
  width: 100%;
  float: left;
  max-width: 1080px;
  margin-bottom: 0;
  background-color: $green;

  img {
    max-width: 100%;
  }
} // .desktop-footer

.footer-image {
  display: block;
  //width: 100%;
  height: 550px;
  //margin-bottom: 0;
  //background-position: 50% 50%;
  background-image: url("../images/ui/footer.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: contain;
  z-index: 500;
  /*
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
  */
  @include respond-to(b-2500) {
    height: 550px;
    background-size: 100% auto;
  }
  @include respond-to(b-2500) {
    
  }
  @include respond-to(b-2200) {
    height: 510px;
    background-size: 100% auto;
  }
  @include respond-to(b-2000) {
    height: 450px;
    background-size: 100% auto;
  }
  @include respond-to(b-1900) {
    height: 410px;
    background-size: 100% auto;
  }
  @include respond-to(b-1700) {
    height: 385px;
    background-size: 100% auto;
  }
  @include respond-to(b-1600) {
    height: 360px;
    background-size: 100% auto;
  }
  @include respond-to(b-1500) {
    height: 335px;
    background-size: 100% auto;
  }
  @include respond-to(b-1400) {
    height: 310px;
    background-size: 100% auto;
  }
  @include respond-to(b-1300) {
    height: 290px;
    background-size: 100% auto;
  }
  @include respond-to(b-1200) {
    height: 285px;
    background-size: 100% auto;
  }
  @include respond-to(b-1100) {
    height: 256px;
    background-size: 100% auto;
  }
  @include respond-to(b-1000) {
    height: 235px;
    background-size: 100% auto;
  }
  @include respond-to(b-900) {
    height: 205px;
    background-size: 100% auto;
  }
  @include respond-to(b-800) {
    height: 180px;
    background-size: 100% auto;
  }
  @include respond-to(b-700) {
    height: 235px;
    background-position: 50% 0;
    background-size: 150% auto;
  }
  @include respond-to(b-600) {
    height: 200px;
    background-position: 50% 0;
    background-size: 150% auto;
  }
  @include respond-to(b-570) {
    height: 175px;
    background-position: 50% 0;
    background-size: 150% auto;
  }
  @include respond-to(b-570) {
    height: 175px;
    background-position: 50% 0;
    background-size: 150% auto;
  }
  @include respond-to(b-500) {
    height: 175px;
    background-position: 50% 0;
    background-size: 150% auto;
  }
  @include respond-to(b-450) {
    height: 150px;
    background-position: 50% 0;
    background-size: 150% auto;
  }
  @include respond-to(b-400) {
    height: 135px;
  }
  @include respond-to(b-360) {
    height: 120px;
  }
  @include respond-to(b-320) {
    height: 140px;
    background-position: 50% 0;
    background-size: 190% auto;
  }
} // .footer-image

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
