@use "../utils/variables" as *;

#stickyheader {
  display: none;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  background-color: $teal;
  z-index: 10;
}

nav {
  max-width: 1080px;
  margin: 0 auto;
  background-color: $teal;

  ul {
    float: right;
    margin-right: 20px;
  }

  a {
    box-sizing: border-box;
    padding: 15px 10px 10px 10px;
    color: $white;
    &:hover {
      background-color: $pink;
    }
  }

} // nav

.nav-up {
  top: -45px;
}

.desktop-header {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  height: 218px;
  overflow: hidden;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  @include respond-to('b-900') {
    height: 210px;
  }
  @include respond-to('b-890') {
    background-image: url("/assets/images/header.webp");
    background-size: cover;     // fill, even if cropped
    background-position: center;
  }
  @include respond-to('b-700') {
    height: 120px;
  }
}

.parallax-img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
  will-change: transform;
  pointer-events: none;
  @include respond-to('b-890') {
    display: none;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 15px;
}

.navbar {
  border: 0px;
  margin-bottom: 0px;
  min-height: 25px;
}

.navbar-inner {
  background: $teal;
}

.navbar-inner .container {
  width: 100%;
  max-width: 900px;
}

.nav-collapse {
  position: relative;
  float: right;
  padding-top: 10px;
  width: 100%;
  min-height: 35px;
}

.stat-nav {
  float: right;
  margin: 0;
  padding: 0;
}

.stat-nav li {
  padding-right: 15px;
}

.drop-nav {
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
}

.drop-nav li .dropdown {
  float: left; 
  width: 25% !important;
}

.nav li {
  float: left;
}

.drop-nav li {
  float: left;
  width: 100%;
}

.nav li a {
  display: block;
  position: relative;
  color: $white;
  text-transform: uppercase;
  font-size: 1rem;
  @include respond-to(b-375) {
    font-size: 0.8rem;
  }
  @include respond-to(b-325) {
    font-size: 0.75rem;
  }
  @include respond-to(b-305) {
    font-size: 0.6rem;
  }
}

.nav li a:visited {
  color: $white;
}

.nav li a:hover {
  color: $black;
}

.nav li a:hover, .nav li a:focus {
  background-color: $teal;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $teal;
  border-color: $teal;
}

.nav .current-page {
  text-decoration: underline;
  color: $black !important;
  pointer-events: none;
}
